In [158]:
import pandas as pd

In [159]:
import numpy as np

In [160]:
import csv

In [161]:
#load CSV files
schools_csv = 'PyCitySchools/Resources/schools_complete.csv'
students_csv = 'PyCitySchools/Resources/students_complete.csv'

In [162]:
#read csv files as new DataFrame
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [163]:
print(schools_df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [169]:
#Combine the data into a single dataset
combined_dataset = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
combined_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [168]:
#Rename Column Names for Schools
schools_and_students= combined_dataset.rename(columns={'school_name':'School_Name', 'School ID':'School_ID','type':'School_Type', 'size':'School_Size', 'budget':'Budget', 'Student ID': 'Student_ID','student_name':'Student_Name', 'gender':'Gender','grade':'Grade', 'school_name':'School_Name', 'reading_score':'Reading_Score','math_score':'Math_Score'})
schools_and_students.head()

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score,School_ID,School_Type,School_Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [166]:
#Calculate the total number of schools
schools_total = schools_and_students.School_Name.nunique()
print(schools_total)

15

In [171]:
#schools_total = len(schools_and_students).School_Name.unique())

In [53]:
#Calculate the total number of students
students_total = schools_and_students.Student_ID.nunique()
print(students_total)

39170

In [54]:
#Calculate the total budget
budget_total = schools_df['budget'].sum()
print(budget_total)

24649428

In [56]:
#Calculate the average math score
math_score_avg = schools_and_students.Math_Score.mean()
print(math_score_avg)

78.98537145774827

In [57]:
#Calculate the average reading score
reading_score_avg = schools_and_students.Reading_Score.mean()
print(reading_score_avg)

81.87784018381414

In [58]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (reading_score_avg + math_score_avg)/2
print(overall_passing_rate)

80.43160582078121

In [59]:
#Calculate the percentage of students with a passing math score (70 or greater)
#first, do .loc to retrieve index labels of students who got a 70 or greater:
passing_students_math = combined_dataset.loc[(combined_dataset["math_score"]>=70)]
#second, count number of students that got =>70
count_math = passing_students_math["math_score"].count()
#third, find percentage by taking the above number and dividing it by total students *100 for percentage:
percent_passing_math_score = (count_math/students_total)*100
print(percent_passing_math_score)

74.9808526933878

In [60]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#first, do .loc to retrieve index labels of students who got a 70 or greater:
passing_students_reading = combined_dataset.loc[(combined_dataset["reading_score"]>=70)]
#second, count number of students that got =>70
count_reading = passing_students_reading["reading_score"].count()
#third, find percentage by taking the above number and dividing it by total students *100 for percentage:
percent_passing_reading_score = (count_reading/students_total)*100
print(percent_passing_reading_score)

85.80546336482001

In [61]:
#Create a dataframe to hold the above results
dataframe_results = pd.DataFrame({"Total Schools" : [schools_total], 
                     "Total Students" : [students_total],
                     "Total Budget" : [budget_total], 
                     "Average Math Score" : [math_score_avg], 
                     "Average Reading score" : [reading_score_avg], 
                     "% Passing Math" : [percent_passing_math_score], 
                     "% Passing Reading" : [percent_passing_reading_score],
                     "Overall Passing Rate" : [overall_passing_rate]
                    })

#dataframe_results = dataframe_results[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading score","% Passing Math","% Passing Reading","Overall Passing Rate"]], index[0]
dataframe_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

# School Summary

In [63]:
Overall Passing Rate (Average of the above two)
Create a dataframe to hold the above results

SyntaxError: invalid syntax (<ipython-input-63-396badfb8bf0>, line 1)

In [64]:
#create a copy of schools_df to not mess with original:
copy_school_df = schools_df.copy()
copy_school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [65]:
#Find out the type of schools in the district:
school_type = schools_df.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [66]:
#Find the total number of students per school:
total_students_per_school = schools_and_students["School_Name"].value_counts()
print(total_students_per_school)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School_Name, dtype: int64

In [67]:
#Find the Total Budget per School:
total_school_budget = schools_and_students.groupby(["School_Name"])["Budget"].mean()
print(total_school_budget)

School_Name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: Budget, dtype: int64

In [172]:
#Find the Total Budget per Student by using a copy of school_df, then taking the school budget/school size(# of students):
budget_per_student = total_school_budget/total_students_per_school
print(budget_per_student)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [69]:
#Find the average math score per school:
school_avg_math_score = schools_and_students.groupby(["School_Name"])["Math_Score"].mean()
print(school_avg_math_score)

School_Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math_Score, dtype: float64

In [71]:
#Find the average reading score per school:
school_avg_reading_score = schools_and_students.groupby(["School_Name"])["Reading_Score"].mean()
print(school_avg_reading_score)

School_Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading_Score, dtype: float64

In [183]:
#Find the % of passing reading per school:
    #frist, find the students that had a passing score per school(70 or greater):
pass_per_school_read = schools_and_students[(schools_and_students['Reading_Score']>=70)]
    #then, use groupby to group the data of school name and reading score =>70% to count the # of students passing:
pass_groupby_read = pass_per_school_read.groupby(["School_Name"]).count()["Student_Name"]/total_students_per_school *100

pass_groupby_read.head()

Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
dtype: float64

In [182]:
#Find the % of passing math per school:
    #frist, find the students that had a passing score per school(70 or greater):
pass_per_school_math = schools_and_students[(schools_and_students['Math_Score']>=70)]
    #then, use groupby to group the data of school name and reading score =>70% to count the # of students passing:
pass_groupby_math = pass_per_school_math.groupby(["School_Name"]).count()["Student_Name"]/total_students_per_school *100
    
pass_groupby_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [186]:
#Find the Overall Passing Rate (Average of the above two). To do this you add both scores per school then divide by 2:
overall_passing = (pass_groupby_read + pass_groupby_math) /2
overall_passing

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [198]:
#Create a dataframe to hold the above results:

dataframe_school_summary = pd.DataFrame({"School Type" : school_type,
                     "Total Students" : total_students_per_school, 
                     "Total School Budget" : total_school_budget, 
                     "Per Student Budget" : budget_per_student, 
                     "Average Math Score" : school_avg_math_score, 
                     "Average Reading Score" : school_avg_reading_score,
                     "% Passing Math" : pass_groupby_math,
                     "% Passing Reading" : pass_groupby_read,
                     "Overall Passing Rate" : overall_passing
                    })

dataframe_school_summary = dataframe_school_summary[["School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
dataframe_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

# Top Performing Schools (By Passing Rate)

In [203]:
#Sort and display the top five schools in overall passing rate
top_schools_bypassing_rate = dataframe_school_summary.sort_values(by=['Overall Passing Rate'], ascending=False).head(5)
top_schools_bypassing_rate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

# Bottom Performing Schools (By Passing Rate)

In [232]:
#Sort and display the five worst-performing schools
worst_schools_bypassing_rate = dataframe_school_summary.sort_values('Overall Passing Rate', ascending=True)
worst_schools_bypassing_rate.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308