In [44]:
import pandas as pd

In [45]:
import numpy as np

In [46]:
import csv

In [47]:
#load CSV files
schools_csv = 'PyCitySchools/Resources/schools_complete.csv'
students_csv = 'PyCitySchools/Resources/students_complete.csv'

In [48]:
#read csv files as new DataFrame
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [49]:
print(schools_df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [50]:
#Combine the data into a single dataset
combined_dataset = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
combined_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [51]:
#Rename Column Names for Schools
schools_and_students= combined_dataset.rename(columns={'school_name':'School_Name', 'School ID':'School_ID','type':'School_Type', 'size':'School_Size', 'budget':'Budget', 'Student ID': 'Student_ID','student_name':'Student_Name', 'gender':'Gender','grade':'Grade', 'school_name':'School_Name', 'reading_score':'Reading_Score','math_score':'Math_Score'})
schools_and_students.head()

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score,School_ID,School_Type,School_Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [52]:
#Calculate the total number of schools
schools_total = schools_and_students.School_Name.nunique()
print(schools_total)

15

In [53]:
#Calculate the total number of students
students_total = schools_and_students.Student_ID.nunique()
print(students_total)

39170

In [54]:
#Calculate the total budget
budget_total = schools_df['budget'].sum()
print(budget_total)

24649428

In [56]:
#Calculate the average math score
math_score_avg = schools_and_students.Math_Score.mean()
print(math_score_avg)

78.98537145774827

In [57]:
#Calculate the average reading score
reading_score_avg = schools_and_students.Reading_Score.mean()
print(reading_score_avg)

81.87784018381414

In [58]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (reading_score_avg + math_score_avg)/2
print(overall_passing_rate)

80.43160582078121

In [59]:
#Calculate the percentage of students with a passing math score (70 or greater)
#first, do .loc to retrieve index labels of students who got a 70 or greater:
passing_students_math = combined_dataset.loc[(combined_dataset["math_score"]>=70)]
#second, count number of students that got =>70
count_math = passing_students_math["math_score"].count()
#third, find percentage by taking the above number and dividing it by total students *100 for percentage:
percent_passing_math_score = (count_math/students_total)*100
print(percent_passing_math_score)

74.9808526933878

In [60]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#first, do .loc to retrieve index labels of students who got a 70 or greater:
passing_students_reading = combined_dataset.loc[(combined_dataset["reading_score"]>=70)]
#second, count number of students that got =>70
count_reading = passing_students_reading["reading_score"].count()
#third, find percentage by taking the above number and dividing it by total students *100 for percentage:
percent_passing_reading_score = (count_reading/students_total)*100
print(percent_passing_reading_score)

85.80546336482001

In [61]:
#Create a dataframe to hold the above results
dataframe_results = pd.DataFrame({"Total Schools" : [schools_total], 
                     "Total Students" : [students_total],
                     "Total Budget" : [budget_total], 
                     "Average Math Score" : [math_score_avg], 
                     "Average Reading score" : [reading_score_avg], 
                     "% Passing Math" : [percent_passing_math_score], 
                     "% Passing Reading" : [percent_passing_reading_score],
                     "Overall Passing Rate" : [overall_passing_rate]
                    })

#dataframe_results = dataframe_results[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading score","% Passing Math","% Passing Reading","Overall Passing Rate"]], index[0]
dataframe_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

# School Summary

In [63]:
Overall Passing Rate (Average of the above two)
Create a dataframe to hold the above results

SyntaxError: invalid syntax (<ipython-input-63-396badfb8bf0>, line 1)

In [64]:
#create a copy of schools_df to not mess with original:
copy_school_df = schools_df.copy()
copy_school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [65]:
#Find out the type of schools in the district:
school_type = schools_df.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [66]:
#00Find the total number of students per school:
total_students_per_school = schools_and_students["School_Name"].value_counts()
print(total_students_per_school)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School_Name, dtype: int64

In [67]:
#00Find the Total Budget per School:
total_school_budget = schools_and_students.groupby(["School_Name"])["Budget"].mean()
print(total_school_budget)

School_Name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: Budget, dtype: int64

In [68]:
#00Find the Total Budget per Student by using a copy of school_df, then taking the school budget/school size(# of students):
copy_school_df['Budget Per Student'] = copy_school_df['budget']/copy_school_df['size']
print(copy_school_df['Budget Per Student'])

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
Name: Budget Per Student, dtype: float64

In [69]:
#00Find the average math score per school:
school_avg_math_score = schools_and_students.groupby(["School_Name"])["Math_Score"].mean()
print(school_avg_math_score)

School_Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math_Score, dtype: float64

In [71]:
#00Find the average reading score per school:
school_avg_reading_score = schools_and_students.groupby(["School_Name"])["Reading_Score"].mean()
print(school_avg_reading_score)

School_Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading_Score, dtype: float64

In [142]:
#Find the % of passing reading per school:
    #frist, find the students that had a passing score per school(70 or greater):
pass_per_school_read = schools_and_students[schools_and_students['Reading_Score']>=70]
    #then, use groupby to group the data of school name and reading score =>70% to count the # of students passing:
pass_groupby_read = pass_per_school_read .groupby(["School_Name"])["Reading_Score"].count().reset_index()
    #If we print, we see that the column label says "Reading_Score" and this needs to change to Reading_Count:
pass_count_read = pass_groupby_read.rename(columns={"Reading_Score" : "Reading_Count"})
    #Before calculating, we must merge the schools__and_students with pass_count_read to combine data to analyze:
merged_dataset = schools_and_students.merge(pass_count_combined, on="School_Name", how="outer")
    #So far we have found the passing scores per school, counted the amt of passing scores per school, renamed column, 
    #and now we can find the percentage by taking the count and dividing it by school size then * by 100:
read_merged_dataset = merged_dataset['% Passing Reading'] = (merged_dataset["Reading_Count"]/merged_dataset["School_Size"])*100
merged_dataset

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score,School_ID,School_Type,School_Size,Budget,Reading_Count,Math_Count,% Passing Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,2372,1916,81.316421
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,2372,1916,81.316421
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,2372,1916,81.316421
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,2372,1916,81.316421
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,2372,1916,81.316421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1591,1525,97.308869
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1591,1525,97.308869
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1591,1525,97.308869
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1591,1525,97.308869
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1591,1525,97.308869

In [141]:
#Find the % of passing math per school:
    #frist, find the students that had a passing score per school(70 or greater):
pass_per_school_math = schools_and_students[schools_and_students['Math_Score']>=70]
    #then, use groupby to group the data of school name and math score =>70% to count the # of students passing:
pass_groupby_math = pass_per_school_math .groupby(["School_Name"])["Math_Score"].count().reset_index()
    #If we print, we see that the column label says "Math_Score" and this needs to change to Math_Count:
pass_count_math = pass_groupby_math.rename(columns={"Math_Score" : "Math_Count"})
    #Before calculating, we must merge the schools__and_students with pass_count_math to combine data to analyze:
merged_dataset = schools_and_students.merge(pass_count_math, on="School_Name", how="outer")
    #So far we have found the passing scores per school, counted the amt of passing scores per school, renamed column, 
    #and now we can find the percentage by taking the count and dividing it by school size then * by 100:
math_merged_dataset = merged_dataset['% Passing Math'] = (merged_dataset["Math_Count"]/merged_dataset["School_Size"])*100
merged_dataset.head()

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score,School_ID,School_Type,School_Size,Budget,Math_Count,% Passing Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1916,65.683922
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,1916,65.683922
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,1916,65.683922
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,1916,65.683922
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1916,65.683922

In [133]:
#So we can see both (% Passing Math & % Passing Reading) we must merge pass_count_read and pass_count_math:
## We want to merge on School Name and by 'inner' to include only the contents found in both columns

pass_count_combined = pass_count_read.merge(pass_count_math, on="School_Name", how='inner')

pass_count_combined

              School_Name  Reading_Count  Math_Count
0      Bailey High School           4077        3318
1     Cabrera High School           1803        1749
2    Figueroa High School           2381        1946
3        Ford High School           2172        1871
4     Griffin High School           1426        1371
5   Hernandez High School           3748        3094
6      Holden High School            411         395
7       Huang High School           2372        1916
8     Johnson High School           3867        3145
9        Pena High School            923         910
10  Rodriguez High School           3208        2654
11    Shelton High School           1688        1653
12     Thomas High School           1591        1525
13     Wilson High School           2204        2143
14     Wright High School           1739        1680

In [148]:
#So we can see both (% Passing Math & % Passing Reading) we must merge pass_count_read and pass_count_math:
## We want to merge on School Name and by 'inner' to include only the contents found in both columns

pass_count_combined_final = read_merged_dataset.merge(math_merged_dataset, on="School_Name", how='inner')

AttributeError: 'Series' object has no attribute 'merge'

In [149]:
#Find the Overall Passing Rate (Average of the above two). To do this you add both scores per school then divide by 2:

merged_dataset["Overall Passing Rate"] = (merged_dataset["% Passing Math"] + merged_dataset["% Passing Reading"])/2

merged_dataset.head()

KeyError: '% Passing Math'