In [4]:
import pandas as pd

In [5]:
import numpy as np

In [14]:
import csv

In [18]:
#load CSV files
schools_csv = 'Resources/schools_complete.csv'
students_csv = 'Resources/students_complete.csv'

In [16]:
#read csv files as new DataFrame
schools_df = pd.read_csv(schools_csv)
#students_df = pd.read_csv(students_csv)
print(schools_df)

FileNotFoundError: [Errno 2] File b'Resources/schools_complete.csv' does not exist: b'Resources/schools_complete.csv'

In [2]:
schools_df.head()

NameError: name 'schools_df' is not defined

In [45]:
#Combine the data into a single dataset
combined_dataset = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
combined_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [62]:
#Rename Column Names for Schools
schools_and_students= combined_dataset.rename(columns={'school_name':'School_Name', 'School ID':'School_ID','type':'School_Type', 'size':'School_Size', 'budget':'Budget', 'Student ID': 'Student_ID','student_name':'Student_Name', 'gender':'Gender','grade':'Grade', 'school_name':'School_Name', 'reading_score':'Reading_Score','math_score':'Math_Score'})
schools_and_students.head()

,Student_ID,Student_Name,Gender,Grade,School_Name,Reading_Score,Math_Score,School_ID,School_Type,School_Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [85]:
#Calculate the total number of schools
schools_total = schools_and_students.School_Name.nunique()
print(schools_total)

15

In [72]:
#Calculate the total number of students
students_total = schools_and_students.Student_Name.nunique()
print(students_total)

32715

In [76]:
#Calculate the total budget
budget_total = schools_df['budget'].sum()
print(budget_total)

24649428

In [81]:
#Calculate the average math score
math_score_avg = schools_and_students.Math_Score.mean()
print(math_score_avg)

78.98537145774827

In [87]:
#Calculate the average reading score
reading_score_avg = schools_and_students.Reading_Score.mean()
print(reading_score_avg)

81.87784018381414

In [96]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (reading_score_avg + math_score_avg)/2
print(overall_passing_rate)

80.43160582078121

In [ ]:
#Calculate the percentage of students with a passing math score (70 or greater)
#first find out how many students got a 70 or greater:
passing_students_math = schools_and_students.loc[students_df[Math_Score
percent_passing_math_score =

In [ ]:
#Calculate the percentage of students with a passing reading score (70 or greater)
percent_passing_math_score =

In [ ]:
#Create a dataframe to hold the above results
dataframe_results